<div class="privacy-confirm" role="dialog" tabindex="-1">
    <h4>{{ 'huh.youtube.title.privacy'|trans }}</h4>

    <p>{{ 'huh.youtube.text.privacy'|trans }}</p>

    <div class="checkbox">
        <label>
            <input type="checkbox" name="youtubePrivacyAuto"> {{ 'huh.youtube.label.privacy.autoplay'|trans({'%host%': host}) }}
        </label>
    </div>
</div>