@import "compass/css3/transition";
@import "compass/css3/opacity";

$play-button-width: 68px;
$play-button-height: 48px;

.youtube_default,
.youtube_player,
.youtube_image {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 56.25%; /* 16:9 */

  @media print {
    padding-bottom: 0;
    height: auto;
    width: auto;
    overflow: visible;
  }

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
  }

  .video-thumbnail {
    cursor: pointer;

    .image_container {
      position: relative;

      .play-button {
        background: url(/system/modules/youtube/assets/img/yt_icon_mono_light.svg) no-repeat 50% 50%;
        background-size: cover;
        position: absolute;
        left: 50%;
        top: 50%;
        width: $play-button-width;
        height: $play-button-height;
        margin-left: $play-button-width / -2;
        margin-top: $play-button-height / -2;

        @include opacity(.8);
        @include single-transition(opacity, .25s, cubic-bezier(0.0, 0.0, 0.2, 1));

        @media print {
          display: none;
        }
      }
    }

    &:hover {
      .image_container {
        .play-button {
          @include opacity(1);
          background-image: url(/system/modules/youtube/assets/img/yt_icon_rgb.svg);
        }
      }
    }
  }
}
