/* line 7, youtube_default.scss */
.youtube_default,
.youtube_player,
.youtube_image {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  /* 16:9 */
}
@media print {
  /* line 7, youtube_default.scss */
  .youtube_default,
  .youtube_player,
  .youtube_image {
    padding-bottom: 0;
    height: auto;
    width: auto;
    overflow: visible;
  }
}
/* line 24, youtube_default.scss */
.youtube_default iframe,
.youtube_default object,
.youtube_default embed,
.youtube_player iframe,
.youtube_player object,
.youtube_player embed,
.youtube_image iframe,
.youtube_image object,
.youtube_image embed {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}
/* line 36, youtube_default.scss */
.youtube_default .video-thumbnail,
.youtube_player .video-thumbnail,
.youtube_image .video-thumbnail {
  cursor: pointer;
}
/* line 39, youtube_default.scss */
.youtube_default .video-thumbnail .image_container,
.youtube_player .video-thumbnail .image_container,
.youtube_image .video-thumbnail .image_container {
  position: relative;
}
/* line 42, youtube_default.scss */
.youtube_default .video-thumbnail .image_container .play-button,
.youtube_player .video-thumbnail .image_container .play-button,
.youtube_image .video-thumbnail .image_container .play-button {
  background: url(/system/modules/youtube/assets/img/yt_icon_mono_light.svg) no-repeat 50% 50%;
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 68px;
  height: 48px;
  margin-left: -34px;
  margin-top: -24px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -moz-transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1);
  -o-transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1);
  transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1);
}
@media print {
  /* line 42, youtube_default.scss */
  .youtube_default .video-thumbnail .image_container .play-button,
  .youtube_player .video-thumbnail .image_container .play-button,
  .youtube_image .video-thumbnail .image_container .play-button {
    display: none;
  }
}
/* line 64, youtube_default.scss */
.youtube_default .video-thumbnail:hover .image_container .play-button,
.youtube_player .video-thumbnail:hover .image_container .play-button,
.youtube_image .video-thumbnail:hover .image_container .play-button {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  background-image: url(/system/modules/youtube/assets/img/yt_icon_rgb.svg);
}
